html {
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  
    &:not(i) {
      font-family: "Poppins", sans-serif !important;
    }
  }
  
  body {
    box-sizing: border-box;
    background-color: #F5F5F7;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: unset !important;
  }