.form{
    width: 30%;
    &__authButton {
        background-color: #f5f5f7 !important;
        padding: 0.5rem !important;
        width: 100%;
        margin-top: 1.5rem !important;
        display: flex !important;
        align-items: center !important;
        gap: 0.3rem !important;
        color: black !important;
        font-weight: 700 !important;
    }
    &__border{
        width: 32%;
        position: relative;
        top: .1rem;
        border-color:#D7D7D9;
    }
    &__text{
        color: #9e9ea1;
        width: 32%;
        text-align: center;
    }
}

