.overview {
    &__containerOne {
        background-color: #fcfcfc;
        &__runningTask {
            background-color: #141522;
            color: white;
            margin-top: 6rem;
        }
        &__borderCircle {
            width: 100%;
            &__container {
                border-top: 3px solid #1d1f28;
                border-left: 3px solid #1d1f2c;
                margin-top: 1rem;
                border-right: 3px solid #5c7bd9;
                border-bottom: 3px solid #5c7bd9;
                border-radius: 75%;
                height: 80px !important;
                width: 80px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(320deg);
                &__title {
                    transform: rotate(39deg);
                    font-size: 18px;
                }
            }
        }
    }
    &__activity {
        &__sortButton {
            background-color: #f5f5f7 !important;
            color: rgb(20, 21, 34) !important;
            text-transform: capitalize !important;
            border-radius: 0.5rem !important;
            font-weight: 600 !important;
            font-size: 0.8rem !important;
            white-space: nowrap !important;
            box-shadow: none !important;
            &__icon {
                margin-left: 0.5rem;
                font-size: 1rem !important;
            }
        }
        &__mentors {
            background-color: #ffffff;
        }
    }
    &__border {
        border: 0.6px solid #eeeef1;
    }
    &__dailytask {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: black;
        background-color: #f5f5f7;
        border-radius: 8px;
    }
    &__button {
        background-color: #546fff !important;
        color: white !important;
        width: 100% !important;
        font-weight: 600 !important;
        border-radius: 10px !important;
        padding: 9px !important;
    }
    &__scroll {
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px white;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: #c2c6e8;
            border-radius: 10px;
        }
        &:hover {
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px white;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #c2c6e8 !important;
                border-radius: 10px;
            }
        }
    }
}

.week {
    margin: 0px;
    font-size: 0.875rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.43;
    color: rgb(20, 21, 34);
    font-weight: 500;
}
.card {
    box-shadow: none !important;
    border-radius: 10px !important;
}
.css-eglki6-MuiLinearProgress-root {
    height: 10px !important;
    border-radius: 10px !important;
}
