.task {
    &__button {
        width: 150px !important;
        background-color: #546fff !important;
        color: white !important;
        font-weight: 600 !important;
        border-radius: 10px !important;
        padding: 9px !important;
        font-family: monospace !important;

    }
}
