html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
*:not(i),
*::after:not(i),
*::before:not(i) {
  font-family: "Poppins", sans-serif !important;
}

body {
  box-sizing: border-box;
  background-color: #F5F5F7;
  color: rgb(20, 21, 34);
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: unset !important;
}

.header__Input {
  border: 1px solid rgb(245, 245, 247);
  background-color: rgb(255, 255, 255);
  color: rgb(84, 87, 122);
}
.header__Input:hover {
  border: 2px solid rgb(84, 111, 255);
  box-shadow: rgba(0, 0, 255, 0.2) 0px 0px 0px 3px;
}
.header__Input:focus {
  border: 2px solid rgb(84, 111, 255);
  box-shadow: rgba(0, 0, 255, 0.2) 0px 0px 0px 3px;
}
.header__Input__field {
  outline: none;
  border: none;
}
.header__Input__icon {
  color: rgb(164, 164, 172);
}

.language__selector {
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
}
.language__selector:hover {
  background-color: #f5f5f5;
}
.language__selector__image {
  width: 25px;
  object-fit: contain;
}

.avatar__menu {
  padding: 0rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  display: block !important;
  width: 230px !important;
}
.avatar__menu__image {
  object-fit: cover !important;
  width: 50px !important;
  height: 50px !important;
}

.border {
  border-bottom: 1px solid #e4dddd !important;
  border-width: 0px;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 10px !important;
}

.sidebar {
  background-color: white;
  overflow-y: scroll;
  margin-top: 5rem;
}
.sidebar:hover {
  overflow-y: scroll;
}
.sidebar:hover::-webkit-scrollbar {
  width: 5px;
}
.sidebar:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background: #c2c6e8;
  border-radius: 10px;
}
.sidebar__button {
  background-color: white !important;
  color: black !important;
  font-size: 11px !important;
  width: 90% !important;
  position: relative !important;
  top: 2rem !important;
  font-weight: 700 !important;
  border-radius: 10px !important;
}
.sidebar__background__image__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: white;
}

.form {
  width: 400px;
}
.form__authButton {
  background-color: #f5f5f7 !important;
  padding: 0.5rem !important;
  width: 100%;
  margin-top: 1.5rem !important;
  display: flex !important;
  align-items: center !important;
  gap: 0.3rem !important;
  color: black !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}
.form__border {
  width: 32%;
  position: relative;
  top: 0.1rem;
  border-color: #d7d7d9;
}
.form__text {
  color: #9e9ea1;
  width: 32%;
  text-align: center;
}
.form__forgot {
  cursor: pointer;
  color: rgb(84, 111, 255);
}
.form__input {
  border: 1px solid #d7d7d9;
}
.form__input input {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.4rem;
  color: rgb(178, 180, 196);
}
.form__authbutton {
  background-color: #546FFF !important;
  color: white !important;
  font-weight: 700 !important;
  border-radius: 10px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px !important;
}

.overview__containerOne {
  background-color: #fcfcfc;
}
.overview__containerOne__runningTask {
  background-color: #141522;
  color: white;
  margin-top: 6rem;
}
.overview__containerOne__borderCircle {
  width: 100%;
}
.overview__containerOne__borderCircle__container {
  border-top: 3px solid #1d1f28;
  border-left: 3px solid #1d1f2c;
  margin-top: 1rem;
  border-right: 3px solid #5c7bd9;
  border-bottom: 3px solid #5c7bd9;
  border-radius: 75%;
  height: 80px !important;
  width: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(320deg);
}
.overview__containerOne__borderCircle__container__title {
  transform: rotate(39deg);
  font-size: 18px;
}
.overview__activity__sortButton {
  background-color: #f5f5f7 !important;
  color: rgb(20, 21, 34) !important;
  text-transform: capitalize !important;
  border-radius: 0.5rem !important;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  white-space: nowrap !important;
  box-shadow: none !important;
}
.overview__activity__sortButton__icon {
  margin-left: 0.5rem;
  font-size: 1rem !important;
}
.overview__activity__mentors {
  background-color: #ffffff;
}
.overview__border {
  border: 0.6px solid #eeeef1;
}
.overview__dailytask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: black;
  background-color: #f5f5f7;
  border-radius: 8px;
}
.overview__button {
  background-color: #546fff !important;
  color: white !important;
  width: 100% !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  padding: 9px !important;
}
.overview__scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.overview__scroll::-webkit-scrollbar {
  width: 5px;
}
.overview__scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}
.overview__scroll::-webkit-scrollbar-thumb {
  background: #c2c6e8;
  border-radius: 10px;
}
.overview__scroll:hover::-webkit-scrollbar {
  width: 5px;
}
.overview__scroll:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}
.overview__scroll:hover::-webkit-scrollbar-thumb {
  background: #c2c6e8 !important;
  border-radius: 10px;
}

.week {
  margin: 0px;
  font-size: 0.875rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.43;
  color: rgb(20, 21, 34);
  font-weight: 500;
}

.card {
  box-shadow: none !important;
  border-radius: 10px !important;
}

.css-eglki6-MuiLinearProgress-root {
  height: 10px !important;
  border-radius: 10px !important;
}

.task__button {
  width: 150px !important;
  background-color: #546fff !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  padding: 9px !important;
  font-family: monospace !important;
}

/*# sourceMappingURL=App.css.map */
